ion-content {
    --background: linear-gradient(to right, #b91d73, #f952c6)
}

.Main_content_div {
    width: 50%;
    height: 50%;
    .menu {
        position: relative;
        top: 50px;
        left: 50px;
    }
}